<div id="section3" class="why-us-image">
  <div class="why-us-wrapper">
    <div class="why-us-text-wrapper">
      <h2 class="why-us-title">Neden Biz?</h2>
      <div class="why-us-container">
        <div class="why-us-card">
          <fa-icon [icon]="faThumbsUp" class="why-us-card-icon"></fa-icon>
          <p class="why-us-card-title">Doğru Üretim</p>
          <p class="why-us-card-exp">Sektörümüzde ihtiyaç duyulan ürünlere yönelik, kaliteli ve ekonomik ürünler
            sunmanın haklı gururunu
            yaşamaktayız. Plywood ve diğer orman ürünlerinde yüksek kalite ve doğru fiyatlandırmanın müşterilerimiz için
            öneminin bilincindeyiz.</p>
        </div>
        <div class="why-us-card">
          <fa-icon [icon]="faBrush" class="why-us-card-icon"></fa-icon>
          <p class="why-us-card-title">Estetik Yaklaşım</p>
          <p class="why-us-card-exp">Bizce üretmek bir sanattır. Bu yüzden müşterilerimizin birer sanatçı olduğuna
            inanırız. Hızlı ve güvenilir sevkiyata bu yüzden çok önem veriyoruz. Doğru zamanlama başarılı bir üretimin
            vazgeçilmezlerinden biridir.</p>
        </div>
        <div class="why-us-card">
          <fa-icon [icon]="faStar" class="why-us-card-icon"></fa-icon>
          <p class="why-us-card-title">Beklediğiniz Kalite</p>
          <p class="why-us-card-exp">Kaliteli, Ekonomik ve Zamanında Teslimat ile sunmuş olduğumuz ürünlerde
            beklentilerinizi tamamen karşılamayı hedefliyoruz.</p>
        </div>
      </div>
    </div>
  </div>
</div>
